<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
  <h1> <%= title %> </h1>
  <form action="" method="POST">
    <label for="secret">Password</label>
    <input name="secret" placeholder="Enter the secret password" type="text" />
    <button>Click here to join the club!</button>
  </form>
</body>
</html>
